*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 100%;
    width: 1024px;
    margin: 0 auto;
}

header {
    background-color: rgb(251, 104, 128);
    padding-top: 16px ;
    color: black;
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

nav {
    background-color: rgb(250, 172, 185);
    padding: 16px 0;
}

nav li{
    list-style: none;
    display:inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight:bold;
}

nav li a {
    color: black;
    text-decoration: none;
}

.menu-hamburguer{
    width: 32px;
}

.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: black;
    display: block;
    margin-bottom: 4px;
}

.carousel-imagens img{
    max-width: 1000px;
    width: auto;
}

